.deps
.libs
Makefile
Makefile.in
*.lo
*.la
*.o
echo-server
echo-client
test-bus
unbase64
*.bb
*.bbg
*.da
*.gcov
break-loader
test-spawn
test-corrupt
test-exit
test-segfault
test-service
test-sleep-forever
decode-gcov
test-shell
test-shell-service
test-names
test-loopback
test-relay
test-dbus-daemon
test-marshal
manual-authz
manual-dir-iter
manual-tcp
test-dbus-daemon-eavesdrop
test-printf
test-refs
test-syntax
test-syslog
internals/.dirstamp
